<div>
    <h4>Settings</h4>
    <div class="input-group">
        <label for="update-frequency">Update frequency (ms): {{ updateFrequency }}</label>
        <input
            [(ngModel)]="updateFrequency"
            id="update-frequency"
            type="range"
            min="100" max="1000"
        >
    </div>
    <div class="input-group">
        <label for="elements-per-update">Elements per update: {{ elementsPerUpdate }}</label>
        <input
            [(ngModel)]="elementsPerUpdate"
            id="elements-per-update"
            type="number"
            type="range"
            min="1" max="500"
        >
    </div>
    <div class="input-group">
        <label for="symbols">Symbols (comma separated)</label>
        <input
            [(ngModel)]="symbols"
            id="elements-per-update"
            type="number"
            type="text"
        >
    </div>
    <div class="input-group">
        <button role="button" (click)="submitSettingsValues()">Submit</button>
    </div>
</div>